<!doctype html>
<html>
    <font face= "verdana" color= "White">
   <h2>
    <a href = "/" >Home</a></br>
    <a href ='/results'>Results</a>
    </h2>
   <hr>
<head>
    <title>My Website</title>
</head>
<body>
    {{{body}}}
</body>
</html></font>
