
<font face= "verdana" color= "white">
<body background = "/images/olive.png">  

<h1>
<center><p>You have already voted!</p></center>
<hr>
</h1></font>
<center><img src="/images/felicia.jpg" alt="Bye" style="float:center;width:500px;height:500px;"></center>