

<font face= "verdana" color= "White">
<center><h1>Votebot 5000 Welcomes you!</h1></center>
<center><img src="/images/trump.png" alt="Mr. Awesome" style="float:center;width:400px;height:250px;"> </center>



<body background = "/images/olive.png">
<h2>
<form method = "post" action = "/ballot">

  <fieldset>
  <div class = "voterId">
  <label for="voterId">Voter ID:</label>
        <input type="text" id="voterId" name="voterId" required size = "25"
               pattern = "[0-9]{5}">
              <p>Enter your 5 digit voter id number</p>
        <span class="validity"></span>
  </div><br></fieldset>
  
  <fieldset>
  Select Your Precinct:<br>
  <select id = "district" input type = "number" name ="district">
  <option value = "1" > One</option>
  <option value = "2" > Two</option>
  <option value = "3" > Three</option>
  <option value = "4" > Four</option>
  <option value = "5" > Five</option>
  <option value = "6" > Six</option>
  <left><input type="submit" value="Submit"></left>
</select></fieldset>
</h2><br>

 
  <p>

 
 
</form>

<h3>
<center><p>Votebot is not responsible for any Russian, or North Korean tampering.</p></center></h3>
</body></font></p>