<font face= "verdana" color= "White">


<body background = "/images/olive.png">  
<h1>
<center><p>Thank you for your vote!</p></center>
<hr>
<p>
<center><img src="/images/sponge.gif" alt="Mr. Awesome" style="float:center;width:600px;height:600px;"> </center>

</font>
</p>

